/* Idiomas del sitio */
ul#idiomas {
  position: absolute;
  right: 1.5em;
}

ul#idiomas li {
  display: inline-block;
}

/* Traducciones entre artículos */
#translations ul {
  padding-left: 0;
  margin-top: -2em;
  font-size: 0.8em;
}

#translations ul li {
  display:inline-block;
}

#translations .lang {
  text-transform: uppercase;
}

#translations .lang::after {
  content: " - ";
}

/* Imagen de los artículos */
.image.main {
  display: inline-block;
  margin: 0.5em 0;
}

.image.main img {
  height: 400px;
  object-fit: cover;
}

/* Palabras clave en los artículos */
ul#keywords {
  padding-left: 0;
}

ul#keywords li {
  display: inline-block;
  padding-right: 0.25em;
  padding-left: 0;
}

/*ul#keywords li::after {
  content: ", "
}

ul#keywords li:last-child::after {
  content: ""
}
*/
