<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">
                <!-- One -->
                    <section id="one">
                        <div class="inner">
                          <header class="major">
                            <h1>{{ .Title}}</h1>
                          </header>
                          {{ partial "i18nlist" . }}
                          {{ .Description }}
                        </div>
                        {{ if .Params.image }}
                          <span class="image main"><img src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="{{ .Params.imageAlt }}" /></span>
                        {{ end }}
                        <div class="inner">
                          {{ partial "keywords" . }}
                          {{ partial "experiencia" .Content }}
                        </div>
                    </section>
            </div>

        {{ "<!-- Contact -->" | safeHTML}}
          {{ if .Site.Params.Contact.enable }}
            {{ partial "contact.html" . }}
          {{ end }}

        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
