{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            <section class="split">
              <section>
                <div class="contact-method">
                  <span class="icon alt fa-envelope"></span>
                  {{ range .Site.Params.Contact.email }}
                  <h3>{{ .title }}</h3>
                  <a href="mailto:{{ .email }}">{{ .email }}</a>
                  {{ end }}
                </div>
              </section>
            </section>
            <section class="split">
              <section>
                <div class="contact-method">
                  <span class="icon alt fa-twitter"></span>
                  {{ range .Site.Params.Contact.twitter }}
                  <h3>{{ .title }}</h3>
                  <a href="{{ .url | safeHTML }}" target="_blank">{{ .user }}</a>
                  {{ end }}
                </div>
              </section>
            </section>
        </div>
    </section>
