{{ if .IsTranslated }}
<nav id="translations">
<ul>
    {{ range .Translations }}
    <li>
        [<a href="{{ .Permalink }}"><span class="lang">{{ .Lang }}</span>{{ .Title }}</a>]
    </li>
    {{ end}}
</ul>
</nav>
{{ end }}
