{{ "<!-- Header -->" | safeHTML }}
    <header id="header" class="alt">
        <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong> <span>{{ .Site.Params.Navigation.subtitle }}</span>{{ end }}</a>
        <ul id="idiomas" class="logo">
          <li><strong>{{ .Lang }}</strong></li>
          {{ range $.Site.Home.Translations }}
          <li><a href="{{ .Permalink }}">{{ .Lang }}</a></li>
          {{ end }}
        </ul>
    </header>
